<%- include('partials/head') -%>
<%- include('partials/header') -%>
<div class="fullProposal">
    <section id="fullPropInfo">
      <section class="propHeading">
        <img id="fullPropImg" src="<%=proposal.image%>">
        <h3 id="propName"><%=proposal.name.toUpperCase()%></h3>
        <span id="fullProbBlurb" ><%=proposal.blurb%></span>

      </section>
      <h5>Why is this proposal idea important?</h5>
      <span><%=proposal.impact%></span>
      <h5>Stakeholders</h5>
      <span><%=proposal.stakeholders%></span>
      <h5>Full Description</h5>
      <span><%=proposal.description%></span>
      <h5>Additional Information</h5>
      <% for(let i=0;i < proposal.additionalMaterials.length;i++){%>
        <a id="downloadFile" class="filePreview" href="<%=proposal.additionalMaterials[i].url%>" download>
          <% if(proposal.additionalMaterials[i].resourceType === 'image'){ %>
            <img src="<%=proposal.additionalMaterials[i].url%>">
          <% } else { %>
            <button class="button" id="btnPreview" value="Preview PDF Document" onclick="LoadPdfFromUrl('PDFs/Sample.pdf')">
              <i class="fa-solid fa-file-pdf"></i>
            </button>
            <div id="pdf_container"></div>

          <% } %>
        </a>
      <%}%>

      <section id="propComments">
        <h5>Comments</h5>
        <% if (comments.length === 0 ) { %>
         <p> Be the first one to comment!</p>
        <% } %>
          <form action="/comments/postComment/<%=proposal.id%>" method="POST">
            <textarea id="comments" name="text"></textarea>
            <button class="button small comment" type="submit">Comment</button>
          </form>
        <ul class="comments">
          <% for (let i= 0; i < comments.length; i++) { %> 
          <li class="comment">
            <a href="#" title="View this user profile" class="photo">
              <% if(users[i].id === comments[i].user) {%>
                <img src="<%=users[i].avatar%>">
              <%}%> 
            </a>
            <div class="meta">Kasper | 2012.07.24 14:58 <a class="reply">Reply</a></div>
            <div class="body"><%=comments[i].text%></div>
          </li>
          <% } %>
        </ul>
      </section>

    </section>
    <section id="propSidebar">
      <!-- LIKE BUTTON -->
      <form action="/proposal/likeProposal/<%=proposal._id%>?_method=PUT"  method="POST" class="voting full">
        <button id="upVoteFull" class="material-symbols-outlined"> favorite </button>
        <label for="upVoteFull">
          <% if(proposal.supporters.includes(user.id)){ %>
            LIKED
          <%} else { %>
            LIKE
          <% }%> 
        </label>
      </form>
      <section id="propSettings">
        <!-- PROP COST -->
        <h4 id="propCost">$<%=proposal.cost%></h4>
        <!-- PROP # OF LIKES -->
        <span id="numLikes"><%=proposal.likes%> VOTES</span>
        <!-- CREATED AT -->        
        <!-- PROP CATEGORY-->
        <h4 id="propCategory">Category: <%=proposal.category%></h4>
        
        <!-- COMMENT BUTTON -->
      </section>
      <section class="aboutAuthor">
        <!-- ABOUT THE AUTHOR -->
        <h5 id="authorSec">AUTHOR</h5>
        <section class="authorWidget">
          <a class="publicProfile" href="../users/public/<%=author.id%>">
            <div class="avatar">
              <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                <img src="<%=author.avatar%>" />
            </div>
            </div>
          </a>
          <span id="authorUsername"><%=author.userName%></span>
        </section>
        <section class="authorInfo">
          
          <span id="author"><%=author.fullName%></span>
          <% if(author.bio == null ||  author.bio == undefined) {%>
            <span id="authorBio"><%=author.bio%></span>
          <%}%> 
          <% if(author.location == null ||  author.location == undefined) {%>
            <span id="authorLocation"><i class="fa-solid fa-location-pin"></i><%=author.location%></span>
          <%}%>
          <% if(author.website == null ||  author.weabsite == undefined){ %>
            <a id="authorWeb"href="<%=author.website%>">
              <i class="fa-solid fa-link"></i>
            </a>
          <%}%>
          
          
          
        </section>
        
      </section>

      </section>
    </section>
</div>
<%- include('partials/footer') -%>
