<!doctype html>
<html>
<head>
    <title>DEMO DAY</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container">
    <header>  
        <img src="imgs/LCONCUR.png">
      <section class="account">
        <a href="/communities" class="button">COMMUNITIES</a>
        <a href="/conversations" class="button">CONVERSATIONS</a>
        <a href="users/<%=user.id%>">
          <div class="avatar">
            <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
              <img src="https://placeimg.com/192/192/people" />
          </div>
        </a>
        </div>
      </section>
    </header>
    <div class="main">
      <nav>
        <ul>
          <li id="top">TOP</li>
          <li id="new">NEW</li>
        </ul>
      </nav>
      <div class="sidebar">
        <a class="button" id="addProposal">
          <span class="material-symbols-outlined">add</span>
          CREATE
        </a>
        <section id="filters">
          <label for="categoryFilter">Category</label>
          <form action="get">
  
          </form>
          <select id="categoryFilter">
            <% for (let i=0; i < category.length; i++) { %>
              <option><%=category[i].name%></option>
            <% } %>
          </select>
          <!-- MIN PRICE & MAX PRICE FILTER --> 
  
  
          
        </section>
        <section id="stats">
          <h4><span id="propNum"><%=proposals.length%></span> PROPOSALS</h4>
        </section>
      </div>
      <div id="proposals">
        <form action="proposal/createProposal" method="POST" id="createProposal" class="hidden" enctype='multipart/form-data'>
          <fieldset id="proposalInfo">
            <legend>NEW PROPOSAL</legend>
              <label for="propName" id="propNameLabel">Proposal Name </label>
                <input type="text" name="proposalName" id="propName" required>
              <label for="propCost" id="propCostLabel">Proposal Cost</label>
                <input type="number" name="cost" id="propCost" required>
              <label for="propBlurb" id="propBlurbLabel">Proposal Short Description</label>
                <textarea name="blurb" id="propBlurb" required></textarea>
              <label for="propImpact" id="propImpactLabel">Why is this important?</label>
                <textarea name="impact" id="propImpact" required></textarea>
              <label for="propPartners" id="propPartnersLabel">Who are the stakeholders? <span class="material-symbols-outlined">
                help
                </span></label>
                <textarea name="partners" id="propPartners" required></textarea>
              <div class="mb-3">
                  <label for="category">Impact Area/Category</label>
                  <select id="category">
                    <% for (let i=0; i < category.length; i++) { %>
                      <option><%=category[i].name%></option>
                    <% } %>
                      <option>Other</option>
                  </select>
                  <label for="imageUpload" class="form-label">Thumbnail Picture</label>
                  <input type="file" class="form-control" id="imageUpload" name="propIMG">
                  <label for="extraMtrls" class="form-label">Additional Materials</label>
                  <input type="file" class="form-control" id="extraMtrls" name="additionalMaterials" multiple>
              </div>
            <label for="propFull" id="propFullLabel">Full Proposal Description <span class="material-symbols-outlined">
              help
              </span></label>
              <textarea name="description" id="propFull" required></textarea>
            <button class="submit" type="submit">SUBMIT</button>
          </fieldset>
        </form>
        <section id="submittedProposals">
          <% for (let i=0; i < proposals.length; i++) { %>
            <section class="proposal" >
              <section class="details">
                <h3 id="title"><%=proposals[i].name.toUpperCase()%></h3>
                <span id="cost">$<%=proposals[i].cost%></span>
                <span id="shortDes"><%=proposals[i].blurb%></span>
                <a href="/proposal/<%=proposals[i]._id%>" id="fullPropButton" class="button">See full proposal</a>
            </section>
            <form action="/proposal/likeProposal/<%=proposals[i]._id%>?_method=PUT"  method="POST" class="voting">
              <button  id="upVote" class="material-symbols-outlined"> favorite </button>
              <span id="numLikes"><%=proposals[i].likes%></span>
            </form>
            <!--<section class="ranking">
              <span class="material-symbols-outlined">
                arrow_upward </span>
              <span class="material-symbols-outlined">
                  arrow_downward</span>
            </section>--> 
          
        </section>
        <% } %>
      </div>
      <footer>
        <p>Created by Vikiana Petit-Homme</p>
      </footer>
    </div>
  
    </div>
    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>

</body>
</html>
